# Compiled Python files
*.pyc
*.egg-info/
dist/
build/

# Python cache files
__pycache__/

# coverage files
.coverage*
htmlcov/

# Compiled documentation files
docs/source/
docs/_build/
docs/.doctrees/
docs/html/_raw_sources/.doctrees/
docs/**/*.pickle

# converted README for PyPI
README.rst
